body {
    background-color: aqua;
}

.numero-destaque {
    color: #C6B07F;
}

.background-destinos {
    background-color: #1BB4E8;
}

.background-frota {
    background-color: #C6B07F;
}

.background-nav {
    background-color: #21272B;
}

.background-agende {
    background-color: #21272B;
}